/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of the reset-CSS */

:root {
    --system-ui: Montserrat, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1vh 0;
    font: italic 600 1.5rem var(--system-ui);
    color: white;
    background-color:rgb(251, 105, 249);
    transition: .3s all ease-in-out;
}

header:hover {
    background-color: rgb(251, 105, 249, .5);
    cursor: pointer;
}

.upper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(./images/call-to-action-picture.jpg);
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    padding: 2vh 1vw;
    background-color: rgb(0, 0, 0, 0.5);
    transition: .5s background-color ease-in-out;
}

.navbar-logo {
    width: 18vw;
}

.navbar-list {
    display: flex;
    gap: 1vw;
    font: normal 500 1.5rem var(--system-ui);
    color: white;
}

.navbar-logo,
.navbar-list .item:hover {
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, .85);
    width: 40vw;
    height: 40vh;
    gap: 2vh;
    border-radius: 1.1vw;
    padding: 1.5vh 3vw;
}

.hero-title {
    font: italic 600 3.9rem var(--system-ui);
    white-space: nowrap;
    width: 100%;
    height: 50%;
    color: rgb(214, 17, 245);
}

.hero-sub-title {
    font: normal 700 2.5rem var(--system-ui);
    width: 100%;
    height: 25%;
}

.hero-button {
    font: normal 600 1rem var(--system-ui);
    width: 50%;
    height: 25%;
    border: 0;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
    background-color: rgb(214, 17, 245);
    color: white;
    transition: all;
}

.hero-button:active {
  box-shadow: #3c3c3c 0 3px 7px inset;
  transform: translateY(2px);
}

.mid-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(0, 0, 0);
}

.mid-section-title {
    font: italic 600 3.9rem var(--system-ui);
    padding: 5vh 0 5vh 0;
    color: rgb(214, 17, 245);
}

.salon-don-quijote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.salon-don-quijote-title {
    font: italic 200 3rem var(--system-ui);
    padding: 5vh 0 5vh 0;
    color: rgb(214, 17, 245);
}

.salon-dulcinea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(214, 17, 245);
}

.salon-dulcinea-title {
    font: italic 200 3rem var(--system-ui);
    padding: 5vh 0 5vh 0;
    color: white;
}

.salon-sancho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.salon-sancho-title {
    font: italic 200 3rem var(--system-ui);
    padding: 5vh 0 5vh 0;
    color: rgb(214, 17, 245);
}


.carousel {
    width: 75vw;
    height: 75vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgb(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:active {
    color: white;
    background-color: rgb(0, 0, 0, .2);
}

.carousel-button:active {
    outline: 1px solid black;
}

.carousel-button.left {
    left: 1rem;
}

.carousel-button.right {
    right: 1rem;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0;
}

.salon-don-quijote-sub-title {
    font: italic 100 1.5rem var(--system-ui);
    text-align: justify;
    width: 75%;
    margin: 10vh 0 10vh 0;
    color: rgb(214, 17, 245);
}

.salon-dulcinea-sub-title {
    font: italic 100 1.5rem var(--system-ui);
    text-align: justify;
    width: 75%;
    margin: 10vh 0 10vh 0;
    color: white;
}

.salon-sancho-sub-title {
    font: italic 100 1.5rem var(--system-ui);
    text-align: justify;
    width: 75%;
    margin: 10vh 0 10vh 0;
    color: rgb(214, 17, 245);
}