/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of the reset-CSS */
@font-face {
    font-family: Public_Sans;
    src: url(./Fonts/Public_Sans/PublicSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Open-sauce;
    src: url(./Fonts/Open_Sauce/OpenSauceOne-Light.ttf);
}

@font-face {
    font-family: Prata;
    src: url(./Fonts/Prata/Prata-Regular.ttf);
}

@font-face {
    font-family: Montreal;
    src: url(./Fonts/montreal/Montreal-Bold.ttf);
}

:root {
    --system-ui: Montserrat, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --global-pink: rgb(251, 105, 249);
    --neon-pink: #f7b8fd;
}

#scrollButton {
    display: flex;
    justify-content: center;
    z-index: 2;
    position: fixed;
    top: 50vh;
    left: 92vw;
    width: 4vw;
    height: 8vh;
    cursor: pointer;
    background-color: rgb(25, 25, 25, .25);
    transition: background-color .3s ease-in-out;
}

#scrollButton:hover {
    background-color: rgb(25, 25, 25, .75);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1vh 0;
    font: italic 600 1.5rem var(--system-ui);
    color: white;
    background-color:var(--global-pink);
    transition: all .3s ease-in-out;
}

header:hover {
    background-color: rgb(251, 105, 249, .5);
    cursor: pointer;
}

.upper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(./images/237100918_4107228086056864_9137450518867179949_n.png);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1px;
    gap: 50%;
    width: 100%;
    padding: 2vh 0;
    background-color: rgb(0, 0, 0, 0.5);
    transition: all .5s linear;
}

.navbar-logo {
    cursor: pointer;
    width: 15vw;
    transition: all .5s linear;
}

.navbar-list {
    display: flex;
    gap: 1vw;
    font: normal 100 1.1rem var(--system-ui);
    color: white;
    transition: all .5s linear;
}

.item {
    cursor: pointer;
    transition: all .5s linear;
}

.navbar-list .item:hover {
    text-decoration: underline;
    text-shadow: 0 0 .1px white, 0 0 .1px white, 0 0 .1px white;
}

.scrolled-navbar-logo {
    transform: scale(.7);
}

.scrolled-navbar-list {
    transform: scale(.9);
}

.scrolled-navbar{
    position: fixed;
    z-index: 2;
    height: 7vh;
    background-color: rgb(0, 0, 0);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40vw;
    height: 40vh;
    gap: 2vh;
    border-radius: 1vw;
    padding: 25vh 3vw;
}

.hero-title{
    font: normal 550 3.5rem Public_Sans;
    text-shadow: 0 0 5px var(--neon-pink), 0 0 10px var(--neon-pink), 0 0 15px var(--neon-pink), 0 0 20px var(--neon-pink), 0 0 30px var(--neon-pink), 0 0 40px var(--neon-pink), 0 0 55px var(--neon-pink), 0 0 75px var(--neon-pink), 2px 2px 5px rgba(255,255,255,0);
    white-space: nowrap;
    color: white;
}

.hero-button {
    font: normal 700 1.3rem var(--system-ui);
    width: 50%;
    height: 25%;
    border: 0;
    background-color: var(--global-pink);
    color: white;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.hero-button:hover {
    background-color: rgb(255, 0, 251);
}

.products {
    display: grid;
    grid-template: auto repeat(3, 1fr) / 1fr;
    row-gap: 10vh;
    width: 90%;
    height: 200vh;
}

.products-title {
    place-self: center;
    margin-top: 10vh;
    font: normal 600 4.5rem Montreal;
    color: rgb(25, 25, 25);
}

.salon-don-quijote,
.salon-dulcinea,
.salon-sancho {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    background-image: url(./images/ibrahim-boran-m8YjB0noWiY-unsplash.jpg);
    background-size: cover;
    opacity: .5;
    cursor: pointer;
    transform: translateX(100%);
    transition: transform 5s ease-out, opacity .5s ease-in-out;
}

.salon-dulcinea {
    align-items: flex-end;
    background-image: url(./images/andrii-olishevskyi-iTc58VLTtEw-unsplash.jpg);
}

.salon-sancho {
    background-image: url(./images/thomas-william-OAVqa8hQvWI-unsplash.jpg);
}

.scrolled-salon-don-quijote,
.scrolled-salon-dulcinea,
.scrolled-salon-sancho {
    transform: translateX(0);
}

.salon-don-quijote:hover,
.salon-dulcinea:hover,
.salon-sancho:hover{
    opacity: 1;
}

.salon-don-quijote-title,
.salon-dulcinea-title,
.salon-sancho-title {
    padding: 0 10vw;
    font: italic 600 5rem var(--system-ui);
    background-color: rgb(25, 25, 25, .50);
    color: white;
}   

.us {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin: 10vh 0;
    width: 90%;
}

.us-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal 600 4.5rem Montreal;
    color: rgb(25, 25, 25);
}

.us-first {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 100vh;
}

.us-first-title {
    place-self: center;
    width: 30vw;
    font: normal 300 5.6rem Prata;
    color: rgb(25, 25, 25);
}

.us-first-image-one,
.us-first-image-two{
    place-self: center;
    width: 30vw;
}

.us-first-quote {
    justify-self: center;
    width: 30vw;
    font: normal 100 1.2rem Open-sauce;
    color: rgb(25, 25, 25);
}

.us-second {
    display: flex;
    justify-content: space-around;
}

.us-second-img {
    width: 30vw;
    height: auto;
}

.us-second-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 10vh;
}

.us-second-title {
    font: normal 300 3.5rem Prata;
    color: rgb(25, 25, 25);
}

.us-second-pcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.us-second-text {
    font: normal 100 1.2rem Open-sauce;
    color: rgb(25, 25, 25);
}

.us-third {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

.us-third-img {
    place-self: center;
    width: 30vw;
}

.us-third-container {
    place-self: center;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.us-third-title {
    font: normal 300 4rem Prata;
    color: rgb(25, 25, 25);
}

.us-third-text {
    font: normal 100 1.2rem Open-sauce;
    color: rgb(25, 25, 25);
}

.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.clients-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
    font: normal 600 4.5rem Montreal;
    color: rgb(25, 25, 25);
}

.clients-logos {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.logos1,
.logos2 {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

.clients-logos-media {
    display: grid;
    column-gap: 5vw;
    grid-template: 1fr / repeat(4, 1fr);
}

.clients-logos-media img {
    width: 10vw;
    height: 12vh;
    filter:grayscale(100%);
}

.meetus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15vh 0;
    width: 100%;
}

.meetus-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    font: normal 600 4.5rem Montreal;
    color: rgb(25, 25, 25);
}

.meetus-cards {
    display: grid;
    column-gap: 10vw;
    grid-template: 1fr / repeat(2, 1fr);
}

.meetus-cards-left,
.meetus-cards-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20vh;
    width: 30vw;
    height: 65vh;
    border: 1px solid rgb(0, 0, 0, .5);
    border-radius: .1vw;
    background-size: cover;
    transition: cursor .3s ease-in-out, border .3s ease-in-out, box-shadow .3s ease-in-out;
}

.meetus-cards-left {
    background-image: url(./images/karl-hedin-wN3q1ANmXJQ-unsplash.jpg);
}

.meetus-cards-right {
    background-image: url(./images/logan-weaver-lgnwvr-vJlaWLnGcb0-unsplash.jpg);
}

.meetus-cards-title {
    text-align: center;
    font: italic 600 4.5rem var(--system-ui);
    color: white;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, .5);
}

.meetus-cards-left:hover,
.meetus-cards-right:hover{
    cursor: pointer;
    box-shadow: 0 0 5px var(--neon-pink), 0 0 10px var(--neon-pink), 0 0 15px var(--neon-pink), 0 0 20px var(--neon-pink), 0 0 30px var(--neon-pink), 0 0 40px var(--neon-pink), 0 0 55px var(--neon-pink), 0 0 75px var(--neon-pink), 2px 2px 5px rgba(255,255,255,0);
}

.footer {
    display: grid;
    grid-template: 70% 1fr / 40% 1fr;
    width: 100%;
    height: 50vh;
    background-color: rgb(25, 25, 25);
    font: normal 500 1.2rem var(--system-ui);
    color: white;
}

.footer-left,
.footer-right {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.footer-left-column1 img,
.footer-left-column2 li {
    cursor: pointer;
    transition: text-shadow .3s ease-in-out;
}

.footer-left-column2 li:hover {
    text-shadow: 0 0 .1px white, 0 0 .1px white, 0 0 .1px white;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    grid-column: 1 / 4;
}

.footer-bottom-logos {
    display: flex;
    gap: 3vw;
}

.footer-bottom-logos img {
    width: 3vw;
    filter: grayscale(85%);
    cursor: pointer;
    transition: filter .2s ease-in-out;
}

#facebook {
    width: 2.7vw;
}

.footer-bottom-logos img:hover {
    filter: grayscale(0%);
}