/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of the reset-CSS */

:root {
    --system-ui: Montserrat, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --global-pink: rgb(251, 105, 249);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1vh 0;
    font: italic 600 1.5rem var(--system-ui);
    color: white;
    background-color:var(--global-pink);
    transition: .3s all ease-in-out;
}

header:hover {
    background-color: rgb(251, 105, 249, .5);
    cursor: pointer;
}

.upper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(./images/237100918_4107228086056864_9137450518867179949_n.png);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1px;
    z-index: 1;
    gap: 50%;
    width: 100%;
    padding: 2vh 0;
    background-color: rgb(0, 0, 0, 0.5);
    transition: height .5s, padding .5s, background-color .5s;
}

.navbar-logo {
    width: 15vw;
    transition: width 0.5s;
}

.navbar-list {
    display: flex;
    gap: 1vw;
    font: normal 500 1.1rem var(--system-ui);
    transition: font-size .5s;
    color: white;
}

.scrolled-navbar{
    position: fixed;
    z-index: 2;
    height: 7vh;
    padding: 3vh 0;
    background-color: rgb(0, 0, 0);
}

.scrolled-navbar-logo {
    width: 10vw;
}

.scrolled-navbar-list {
    font-size: 1rem;
}

.navbar-logo,
.navbar-list .item:hover {
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, .85);
    width: 40vw;
    height: 40vh;
    gap: 2vh;
    margin-top: 30vh;
    border-radius: 1vw;
    padding: 1.5vh 3vw;
    transition: margin-top .5s;
}

.scrolled-hero {
    margin-top: 35vh;
}

.hero-title{
    font: italic 600 3.9rem var(--system-ui);
    white-space: nowrap;
    color: var(--global-pink);
}

.hero-subtitle {
    font: normal 500 1.4rem var(--system-ui);
}

.hero-button {
    font: normal 700 1.3rem var(--system-ui);
    width: 50%;
    height: 25%;
    border: 0;
    border-radius: 100vw;
    background-color: var(--global-pink);
    color: white;
    cursor: pointer;
    transition: .3s background-color ease-in-out;
}

.hero-button:hover {
    background-color: rgb(255, 0, 251);
}

.products {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    background-color: rgba(0, 0, 0);
}

.products-title,
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font: italic 600 3.9rem var(--system-ui);
    padding: 5vh 0 5vh 0;
    color: var(--global-pink);
}

.salon-don-quijote,
.salon-sancho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.salon-dulcinea{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.salon-don-quijote-text,
.salon-dulcinea-text,
.salon-sancho-text {
    display: flex;
    flex-direction: column;
}

.salon-don-quijote-title,
.salon-sancho-title {
    font: italic 200 3rem var(--system-ui);
    padding: 5vh 0 5vh 0;
    color: var(--global-pink);
}

.salon-dulcinea-title {
    font: italic 200 3rem var(--system-ui);
    padding: 5vh 0 5vh 0;
    color: white;
}

.carousel {
    width: 75vw;
    height: 75vh;
    position: relative;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgb(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:active {
    color: white;
    background-color: rgb(0, 0, 0, .2);
}

.carousel-button:active {
    outline: 1px solid black;
}

.carousel-button.left {
    left: 1rem;
}

.carousel-button.right {
    right: 1rem;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0;
}

.salon-don-quijote-subtitle,
.salon-sancho-subtitle {
    font: italic 100 1.5rem var(--system-ui);
    text-align: justify;
    width: 75%;
    margin: 10vh 0 10vh 0;
    color: var(--global-pink);
}

.salon-dulcinea-subtitle {
    font: italic 100 1.5rem var(--system-ui);
    text-align: justify;
    width: 75%;
    margin: 10vh 0 10vh 0;
    color: white;
}

.us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0);
}

.us-subtitle {
    font: normal 100 1.5rem var(--system-ui);
    text-align: justify;
    margin: 5vh 0;
    width: 50%; 
    color: white;
}


